---
layout: default
permalink: /about2/index.html
---

{% include utils/page_title.html data=site.data.about1.page_title %}

{% include utils/sub_tab.html data=site.data.about1.sub_tab %}

<div class="container">
  <div class="row-fluid">
    <div class="span6">
      <div class="gutter30">
        <h3 class="flat">Who We Are</h3>
        <p>At dawn on the 13th the Carnatic entered the port of Yokohama. This is an important port of call in the
          Pacific, where all the mail-steamers, and those carrying travellers between North America, China, Japan,
          and the Oriental islands put in. It is situated in the bay of Yeddo, and at but a short distance from
          that second capital of the Japanese Empire, and the residence of the Tycoon, the civil Emperor, before
          the Mikado, the spiritual Emperor, absorbed his office in his own. The Carnatic anchored at the quay
          near the custom-house, in the midst of a crowd of ships bearing the flags of all nations. Passepartout
          went timidly ashore on this so curious territory.</p>
      </div>
    </div>
    <div class="span6">
      <h3 class="flat">Competencies</h3>
      <span class="bar-info"><span class="entypo palette"><i></i></span>Photoshop — 90%</span>
      <div class="progress">
        <div class="bar" style="width: 90%"></div>
      </div>
      <span class="bar-info"><span class="entypo mobile"><i></i></span>IOS Development — 70%</span>
      <div class="progress">
        <div class="bar" style="width: 70%"></div>
      </div>
      <span class="bar-info"><span class="entypo video"><i></i></span>Video editing — 70%</span>
      <div class="progress">
        <div class="bar" style="width: 70%"></div>
      </div>
    </div>
  </div>
  <div class="spacer20"></div>
  <div class="spacer20"></div>
</div>

<div class="greyBox">
  <div class="container">
    <div class="spacer20"></div>
    <div class="spacer20"></div>
    <div class="spacer20"></div>
    <h3>Our Team</h3>
    <div class="row-fluid">
      <div class="span4">
        <div class="teamBlock">
          <img src="images/content/team01.jpg" alt=" ">
          <h6 class="heady">Garly Easley<span>Creative Director</span></h6>
          <p class="light">At dawn on the 13th the Carnatic entered the port of Yokohama. This is an important port</p>
          <div class="spacer15"></div>
          <ul class="smallSocials pull-left">
            <li><a href="#" data-toggle="tooltip" title="" data-original-title="Twitter"><span class="entypo twitter-circled"><i></i></span></a></li>
            <li><a href="#" data-toggle="tooltip" title="" data-original-title="Facebook"><span class="entypo facebook-circled"><i></i></span></a></li>
          </ul>
          <a href="#" class="sendMsg pull-left">
            <span class="entypo mail"><i></i></span>
            Send a Direct Message
          </a>
        </div>
      </div>
      <div class="span4">
        <div class="teamBlock">
          <img src="images/content/team02.jpg" alt=" ">
          <h6 class="heady">Wendy Moulton<span>Producer</span></h6>
          <p class="light">At dawn on the 13th the Carnatic entered the port of Yokohama. This is an important port</p>
          <div class="spacer15"></div>
          <ul class="smallSocials pull-left">
            <li><a href="#" data-toggle="tooltip" title="" data-original-title="Twitter"><span class="entypo twitter-circled"><i></i></span></a></li>
            <li><a href="#" data-toggle="tooltip" title="" data-original-title="Facebook"><span class="entypo facebook-circled"><i></i></span></a>
            </li>
          </ul>
          <a href="#" class="sendMsg pull-left">
            <span class="entypo mail"><i></i></span>
            Send a Direct Message
          </a>
        </div>
      </div>
      <div class="span4">
        <div class="teamBlock">
          <img src="images/content/team03.jpg" alt=" ">
          <h6 class="heady">John Nolan<span>Senior Designer</span></h6>
          <p class="light">At dawn on the 13th the Carnatic entered the port of Yokohama. This is an important port</p>
          <div class="spacer15"></div>
          <ul class="smallSocials pull-left">
            <li><a href="#" data-toggle="tooltip" title="" data-original-title="Twitter"><span class="entypo twitter-circled"><i></i></span></a></li>
            <li><a href="#" data-toggle="tooltip" title="" data-original-title="Facebook"><span class="entypo facebook-circled"><i></i></span></a></li>
          </ul>
          <a href="#" class="sendMsg pull-left">
            <span class="entypo mail"><i></i></span>
            Send a Direct Message
          </a>
        </div>
      </div>
    </div>
    <div class="spacer20"></div>
    <div class="spacer20"></div>
    <div class="spacer20"></div>
    <div class="spacer20"></div>
  </div>
</div>

<div class="container">
  <div class="spacer20"></div>
  <div class="spacer20"></div>
  <div class="row-fluid">
    <div class="span12">
      <h3>Our Clients</h3>
      <div class="flexFull easyflex photosOpacity flexslider loading-slider">
        <ul class="slides">
          <li>
            <div class="row-fluid">
              <div class="span12 doCenter">
                <a href="#"><img src="images/content/client-logo1.jpg" alt=""></a>
                <a href="#"><img src="images/content/client-logo2.jpg" alt=""></a>
                <a href="#"><img src="images/content/client-logo3.jpg" alt=""></a>
                <a href="#"><img src="images/content/client-logo4.jpg" alt=""></a>
                <a href="#"><img src="images/content/client-logo5.jpg" alt=""></a>
                <a href="#"><img src="images/content/client-logo6.jpg" alt=""></a>
                <a href="#"><img src="images/content/client-logo7.jpg" alt=""></a>
                <a href="#"><img src="images/content/client-logo8.jpg" alt=""></a>
                <a href="#"><img src="images/content/client-logo9.jpg" alt=""></a>
                <a href="#"><img src="images/content/client-logo10.jpg" alt=""></a>
                <a href="#"><img src="images/content/client-logo11.jpg" alt=""></a>
                <a href="#"><img src="images/content/client-logo12.jpg" alt=""></a>
              </div>
            </div>
          </li>
          <li>
            <div class="row-fluid">
              <div class="span12 doCenter">
                <a href="#"><img src="images/content/client-logo1.jpg" alt=""></a>
                <a href="#"><img src="images/content/client-logo2.jpg" alt=""></a>
                <a href="#"><img src="images/content/client-logo3.jpg" alt=""></a>
                <a href="#"><img src="images/content/client-logo4.jpg" alt=""></a>
                <a href="#"><img src="images/content/client-logo5.jpg" alt=""></a>
                <a href="#"><img src="images/content/client-logo6.jpg" alt=""></a>
                <a href="#"><img src="images/content/client-logo7.jpg" alt=""></a>
                <a href="#"><img src="images/content/client-logo8.jpg" alt=""></a>
                <a href="#"><img src="images/content/client-logo9.jpg" alt=""></a>
                <a href="#"><img src="images/content/client-logo10.jpg" alt=""></a>
                <a href="#"><img src="images/content/client-logo11.jpg" alt=""></a>
                <a href="#"><img src="images/content/client-logo12.jpg" alt=""></a>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="spacer20"></div>
  <div class="spacer20"></div>
  <div class="spacer20"></div>
</div>

{% include utils/dark_title.html data=site.data.index.dark_title %}
