---
layout: default
permalink: /about1/index.html
---

{% include utils/page_title.html data=site.data.about1.page_title %}

{% include utils/sub_tab.html data=site.data.about1.sub_tab %}

<div class="container">
  <div class="row-fluid">
    <div class="span12">
      <h3>About Us</h3>
      <p>At dawn on the 13th the Carnatic entered the port of Yokohama.  This is an important port of call in the Pacific, where all the mail-steamers, and those carrying travellers between North America, China, Japan, and the Oriental islands put in.  It is situated in the bay of Yeddo, and at but a short distance from that second capital of the Japanese Empire, and the residence of the Tycoon, the civil Emperor, before the Mikado, the spiritual Emperor, absorbed his office in his own.  The Carnatic anchored at the quay near the custom-house, in the midst of a crowd of ships bearing the flags of all nations. Passepartout went timidly ashore on this so curious territory of the Sons of the Sun.  He had nothing better to do than, taking chance for his guide, to wander aimlessly through the streets of Yokohama. </p>
    </div>
  </div>
  <div class="spacer20"></div>
  <div class="spacer20"></div>
  <h3>Services</h3>
</div>

<div class="greyBox">
  <div class="container">
    <div class="row-fluid">
      <div class="span12">
        <a href="#" class="serviceBox">
          <span class="entypo mobile">
            <i></i>
          </span>
          <h5 class="std">Mobile Apps</h5>
        </a>
        <a href="#" class="serviceBox"><span class="entypo monitor"><i></i></span><h5 class="std">Websites</h5></a>
        <a href="#" class="serviceBox"><span class="entypo camera"><i></i></span><h5 class="std">Photography</h5></a>
        <a href="#" class="serviceBox"><span class="entypo video"><i></i></span><h5 class="std">Video</h5></a>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="spacer20"></div>
  <div class="spacer20"></div>
  <h3>Our office</h3>
  <div class="row-fluid">
    <div class="span4">
      <div class="teamBlock">
        <img src="images/content/team01.jpg" alt=" ">
        <h6 class="heady">Carnatic entered the port</h6>
        <p class="light">
          At dawn on the 13th the Carnatic entered the port of Yokohama. This is an important port
        </p>
      </div>
    </div>
    <div class="span4">
      <div class="teamBlock">
        <img src="images/content/team02.jpg" alt=" ">
        <h6 class="heady">Carnatic entered the port</h6>
        <p class="light">
          At dawn on the 13th the Carnatic entered the port of Yokohama. This is an important port
        </p>
      </div>
    </div>
    <div class="span4">
      <div class="teamBlock">
        <img src="images/content/team03.jpg" alt=" ">
        <h6 class="heady">Carnatic entered the port</h6>
        <p class="light">
          At dawn on the 13th the Carnatic entered the port of Yokohama. This is an important port
        </p>
      </div>
    </div>
  </div>
  <div class="spacer20"></div>
  <div class="spacer20"></div>
</div>

<div class="container">
  <div class="row-fluid">
    <div class="span12">
      <h3>Our Clients</h3>
      <div class="flexFull easyflex photosOpacity flexslider loading-slider">
        <ul class="slides">
          <li>
            <div class="row-fluid">
              <div class="span12 doCenter">
                <a href="#"><img src="images/content/client-logo1.jpg" alt=""></a>
                <a href="#"><img src="images/content/client-logo2.jpg" alt=""></a>
                <a href="#"><img src="images/content/client-logo3.jpg" alt=""></a>
                <a href="#"><img src="images/content/client-logo4.jpg" alt=""></a>
                <a href="#"><img src="images/content/client-logo5.jpg" alt=""></a>
                <a href="#"><img src="images/content/client-logo6.jpg" alt=""></a>
                <a href="#"><img src="images/content/client-logo7.jpg" alt=""></a>
                <a href="#"><img src="images/content/client-logo8.jpg" alt=""></a>
                <a href="#"><img src="images/content/client-logo9.jpg" alt=""></a>
                <a href="#"><img src="images/content/client-logo10.jpg" alt=""></a>
                <a href="#"><img src="images/content/client-logo11.jpg" alt=""></a>
                <a href="#"><img src="images/content/client-logo12.jpg" alt=""></a>
              </div>
            </div>
          </li>
          <li>
            <div class="row-fluid">
              <div class="span12 doCenter">
                <a href="#"><img src="images/content/client-logo1.jpg" alt=""></a>
                <a href="#"><img src="images/content/client-logo2.jpg" alt=""></a>
                <a href="#"><img src="images/content/client-logo3.jpg" alt=""></a>
                <a href="#"><img src="images/content/client-logo4.jpg" alt=""></a>
                <a href="#"><img src="images/content/client-logo5.jpg" alt=""></a>
                <a href="#"><img src="images/content/client-logo6.jpg" alt=""></a>
                <a href="#"><img src="images/content/client-logo7.jpg" alt=""></a>
                <a href="#"><img src="images/content/client-logo8.jpg" alt=""></a>
                <a href="#"><img src="images/content/client-logo9.jpg" alt=""></a>
                <a href="#"><img src="images/content/client-logo10.jpg" alt=""></a>
                <a href="#"><img src="images/content/client-logo11.jpg" alt=""></a>
                <a href="#"><img src="images/content/client-logo12.jpg" alt=""></a>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="spacer20"></div>
  <div class="spacer20"></div>
  <div class="spacer20"></div>
</div>

{% include utils/dark_title.html data=site.data.index.dark_title %}
