---
layout: default
permalink: /blog_list/index.html
---

{% include utils/page_title.html data=site.data.blog_list.page_title %}

{% include utils/sub_tab.html data=site.data.blog_list.sub_tab %}

<div class="container">
  <div class="row-fluid">
    <div class="span6">
      <div class="btn-group">
        <a href="#" class="btn blong" data-toggle="dropdown">Categories <span class="entypo layout"><i></i></span></a>
        <ul class="dropdown-menu">
          <li><a href="blog-index.html" >Branding</a></li>
          <li><a href="blog-index.html">Prints</a></li>
          <li><a href="blog-index.html">Web Design</a></li>
          <li><a href="blog-index.html">Branding</a></li>
        </ul>
      </div>
    </div>
    <div class="span6 doRight">
      <a href="#" class="btn bico"> <span class="entypo left-open"><i></i></span></a>
      <a href="#" class="btn bico"> <span class="entypo right-open"><i></i></span></a>
    </div>
  </div>
  <div class="spacer20"></div>
  <div class="spacer20"></div>
  <div class="spacer20"></div>
  <div class="row-fluid">
    <div class="span4">
      <div class="previewBox">
        <a href="blog-post.html"><img src="images/content/post1.jpg" alt=""></a>
        <h3 class="subTitle">
          <a href="blog-post.html">Carnatic entered the port</a>
          <a href="#" class="pull-right icomments"><span class="entypo heart-empty"><i></i></span> 3</a>
        </h3>
        <span class="dateR">April 15th, 2013</span>
        <p>This is an important port of call in the Pacific, where all the mail-steamers, and those carrying travellers between North America,</p>
        <a href="blog-post.html" class="btn btn-small">Read More</a>
      </div>
    </div>
    <div class="span4">
      <div class="previewBox">
        <a href="blog-post.html"><img src="images/content/post1.jpg" alt=""></a>
        <h3 class="subTitle">
          <a href="blog-post.html">Carnatic entered the port</a>
          <a href="#" class="pull-right icomments"><span class="entypo heart-empty"><i></i></span> 3</a>
        </h3>
        <span class="dateR">April 15th, 2013</span>
        <p>This is an important port of call in the Pacific, where all the mail-steamers, and those carrying travellers between North America,</p>
        <a href="blog-post.html" class="btn btn-small">Read More</a>
      </div>
    </div>
    <div class="span4">
      <div class="previewBox">
        <a href="blog-post.html"><img src="images/content/post1.jpg" alt=""></a>
        <h3 class="subTitle">
          <a href="blog-post.html">Carnatic entered the port</a>
          <a href="#" class="pull-right icomments"><span class="entypo heart-empty"><i></i></span> 3</a>
        </h3>
        <span class="dateR">April 15th, 2013</span>
        <p>This is an important port of call in the Pacific, where all the mail-steamers, and those carrying travellers between North America,</p>
        <a href="blog-post.html" class="btn btn-small">Read More</a>
      </div>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span4">
      <div class="previewBox">
        <a href="blog-post.html"><img src="images/content/post1.jpg" alt=""></a>
        <h3 class="subTitle">
          <a href="blog-post.html">Carnatic entered the port</a>
          <a href="#" class="pull-right icomments"><span class="entypo heart-empty"><i></i></span> 3</a>
        </h3>
        <span class="dateR">April 15th, 2013</span>
        <p>This is an important port of call in the Pacific, where all the mail-steamers, and those carrying travellers between North America,</p>
        <a href="blog-post.html" class="btn btn-small">Read More</a>
      </div>
    </div>
    <div class="span4">
      <div class="previewBox">
        <a href="blog-post.html"><img src="images/content/post1.jpg" alt=""></a>
        <h3 class="subTitle">
          <a href="blog-post.html">Carnatic entered the port</a>
          <a href="#" class="pull-right icomments"><span class="entypo heart-empty"><i></i></span> 3</a>
        </h3>
        <span class="dateR">April 15th, 2013</span>
        <p>This is an important port of call in the Pacific, where all the mail-steamers, and those carrying travellers between North America,</p>
        <a href="blog-post.html" class="btn btn-small">Read More</a>
      </div>
    </div>
    <div class="span4">
      <div class="previewBox">
        <a href="blog-post.html"><img src="images/content/post1.jpg" alt=""></a>
        <h3 class="subTitle">
          <a href="blog-post.html">Carnatic entered the port</a>
          <a href="#" class="pull-right icomments"><span class="entypo heart-empty"><i></i></span> 3</a>
        </h3>
        <span class="dateR">April 15th, 2013</span>
        <p>This is an important port of call in the Pacific, where all the mail-steamers, and those carrying travellers between North America,</p>
        <a href="blog-post.html" class="btn btn-small">Read More</a>
      </div>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span4">
      <div class="previewBox">
        <a href="blog-post.html"><img src="images/content/post1.jpg" alt=""></a>
        <h3 class="subTitle">
          <a href="blog-post.html">Carnatic entered the port</a>
          <a href="#" class="pull-right icomments"><span class="entypo heart-empty"><i></i></span> 3</a>
        </h3>
        <span class="dateR">April 15th, 2013</span>
        <p>This is an important port of call in the Pacific, where all the mail-steamers, and those carrying travellers between North America,</p>
        <a href="blog-post.html" class="btn btn-small">Read More</a>
      </div>
    </div>
    <div class="span4">
      <div class="previewBox">
        <a href="blog-post.html"><img src="images/content/post1.jpg" alt=""></a>
        <h3 class="subTitle">
          <a href="blog-post.html">Carnatic entered the port</a>
          <a href="#" class="pull-right icomments"><span class="entypo heart-empty"><i></i></span> 3</a>
        </h3>
        <span class="dateR">April 15th, 2013</span>
        <p>This is an important port of call in the Pacific, where all the mail-steamers, and those carrying travellers between North America,</p>
        <a href="blog-post.html" class="btn btn-small">Read More</a>
      </div>
    </div>
    <div class="span4">
      <div class="previewBox">
        <a href="blog-post.html"><img src="images/content/post1.jpg" alt=""></a>
        <h3 class="subTitle">
          <a href="blog-post.html">Carnatic entered the port</a>
          <a href="#" class="pull-right icomments"><span class="entypo heart-empty"><i></i></span> 3</a>
        </h3>
        <span class="dateR">April 15th, 2013</span>
        <p>This is an important port of call in the Pacific, where all the mail-steamers, and those carrying travellers between North America,</p>
        <a href="blog-post.html" class="btn btn-small">Read More</a>
      </div>
    </div>
  </div>
  <div class="spacer20"></div>
  <div class="spacer20"></div>
  <div class="spacer20"></div>
</div>

{% include utils/dark_title.html data=site.data.index.dark_title %}
