---
layout: default
---

{% include utils/flex_slider_full_width.html data=site.data.index.flex_slider_full_width %}

<div class="greyBox">
  {% include utils/info_item_3.html data=site.data.index.info_item_3 %}
</div>

<div class="container">
  {% include utils/centered_content.html data=site.data.index.centered_content %}
</div>

<div class="container">
  {% include utils/flex_slider_outer_carousel.html data=site.data.index.flex_slider_outer_carousel %}
</div>

<div class="greyBox">
  {% include utils/youtube_media_play.html data=site.data.index.youtube_media_play %}
</div>

<div class="container">
  {% include utils/flex_slider_full_width_easyflex.html data=site.data.index.flex_slider_full_width_easyflex %}
</div>

{% include utils/dark_title.html data=site.data.index.dark_title %}
