---
layout: default
permalink: /portfolio_list/index.html
---

{% include utils/page_title.html data=site.data.portfolio_list.page_title %}

{% include utils/sub_tab.html data=site.data.portfolio_list.sub_tab %}

<div class="container">
  <div class="titleNavigation">
    <div class="btn-group">
      <a href="#" class="btn blong" data-toggle="dropdown">Filter Projects <span class="entypo layout"><i></i></span></a>
      <ul id="filters" class="option-set clearfix dropdown-menu">
        <li><a href="#filter=*" class="selected">All Works</a></li>
        <li><a href="#filter=.prints">Prints</a></li>
        <li><a href="#filter=.webdesign">Web Design</a></li>
        <li><a href="#filter=.branding">Branding</a></li>
      </ul>
    </div>

  </div>
  <div class="galleryContainer">
    <div id="iContainer" class="clickable clearfix">
      <div class="galleryItem branding webdesign">
        <div class="workItem">
          <div class="workPhoto">
            <img src="images/content/post1.jpg" alt=" ">

            <div class="cOverlay">
              <a href="images/content/post1.jpg" class="cPreview colorUp"></a>
              <a href="portfolio-details.html" class="cDetails">View details</a>
            </div>
          </div>
          <h3 class="subTitle"><a href="portfolio-details.html">Carnatic entered the port</a></h3>
          <span class="dateR">At dawn on the 13th the Carnatic</span>
        </div>
      </div>
      <div class="galleryItem prints">
        <div class="workItem">
          <div class="workPhoto">
            <img src="images/content/post2.jpg" alt=" ">

            <div class="cOverlay">
              <a href="images/content/post2.jpg" class="cPreview colorUp"></a>
              <a href="portfolio-details.html" class="cDetails">View details</a>
            </div>
          </div>
          <h3 class="subTitle"><a href="portfolio-details.html">Carnatic entered the port</a></h3>
          <span class="dateR">At dawn on the 13th the Carnatic</span>
        </div>
      </div>
      <div class="galleryItem branding webdesign prints">
        <div class="workItem">
          <div class="workPhoto">
            <img src="images/content/post3.jpg" alt=" ">

            <div class="cOverlay">
              <a href="images/content/post3.jpg" class="cPreview colorUp"></a>
              <a href="portfolio-details.html" class="cDetails">View details</a>
            </div>
          </div>
          <h3 class="subTitle"><a href="portfolio-details.html">Carnatic entered the port</a></h3>
          <span class="dateR">At dawn on the 13th the Carnatic</span>
        </div>
      </div>
      <div class="galleryItem branding ">
        <div class="workItem">
          <div class="workPhoto">
            <img src="images/content/post1.jpg" alt=" ">

            <div class="cOverlay">
              <a href="images/content/post1.jpg" class="cPreview colorUp"></a>
              <a href="portfolio-details.html" class="cDetails">View details</a>
            </div>
          </div>
          <h3 class="subTitle"><a href="portfolio-details.html">Carnatic entered the port</a></h3>
          <span class="dateR">At dawn on the 13th the Carnatic</span>
        </div>
      </div>
      <div class="galleryItem webdesign">
        <div class="workItem">
          <div class="workPhoto">
            <img src="images/content/post2.jpg" alt=" ">

            <div class="cOverlay">
              <a href="images/content/post2.jpg" class="cPreview colorUp"></a>
              <a href="portfolio-details.html" class="cDetails">View details</a>
            </div>
          </div>
          <h3 class="subTitle"><a href="portfolio-details.html">Carnatic entered the port</a></h3>
          <span class="dateR">At dawn on the 13th the Carnatic</span>
        </div>
      </div>
      <div class="galleryItem branding">
        <div class="workItem">
          <div class="workPhoto">
            <img src="images/content/post3.jpg" alt=" ">

            <div class="cOverlay">
              <a href="images/content/post3.jpg" class="cPreview colorUp"></a>
              <a href="portfolio-details.html" class="cDetails">View details</a>
            </div>
          </div>
          <h3 class="subTitle"><a href="portfolio-details.html">Carnatic entered the port</a></h3>
          <span class="dateR">At dawn on the 13th the Carnatic</span>
        </div>
      </div>
      <div class="galleryItem branding ">
        <div class="workItem">
          <div class="workPhoto">
            <img src="images/content/post1.jpg" alt=" ">

            <div class="cOverlay">
              <a href="images/content/post1.jpg" class="cPreview colorUp"></a>
              <a href="portfolio-details.html" class="cDetails">View details</a>
            </div>
          </div>
          <h3 class="subTitle"><a href="portfolio-details.html">Carnatic entered the port</a></h3>
          <span class="dateR">At dawn on the 13th the Carnatic</span>
        </div>
      </div>
      <div class="galleryItem webdesign">
        <div class="workItem">
          <div class="workPhoto">
            <img src="images/content/post2.jpg" alt=" ">

            <div class="cOverlay">
              <a href="images/content/post2.jpg" class="cPreview colorUp"></a>
              <a href="portfolio-details.html" class="cDetails">View details</a>
            </div>
          </div>
          <h3 class="subTitle"><a href="portfolio-details.html">Carnatic entered the port</a></h3>
          <span class="dateR">At dawn on the 13th the Carnatic</span>
        </div>
      </div>
      <div class="galleryItem webdesign">
        <div class="workItem">
          <div class="workPhoto">
            <img src="images/content/post3.jpg" alt=" ">

            <div class="cOverlay">
              <a href="images/content/post3.jpg" class="cPreview colorUp"></a>
              <a href="portfolio-details.html" class="cDetails">View details</a>
            </div>
          </div>
          <h3 class="subTitle"><a href="portfolio-details.html">Carnatic entered the port</a></h3>
          <span class="dateR">At dawn on the 13th the Carnatic</span>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row-fluid">
    <div class="span12">
      <h3>Our Clients</h3>
      <div class="flexFull easyflex photosOpacity flexslider loading-slider">
        <ul class="slides">
          <li>
            <div class="row-fluid">
              <div class="span12 doCenter">
                <a href="#"><img src="images/content/client-logo1.jpg" alt=""></a>
                <a href="#"><img src="images/content/client-logo2.jpg" alt=""></a>
                <a href="#"><img src="images/content/client-logo3.jpg" alt=""></a>
                <a href="#"><img src="images/content/client-logo4.jpg" alt=""></a>
                <a href="#"><img src="images/content/client-logo5.jpg" alt=""></a>
                <a href="#"><img src="images/content/client-logo6.jpg" alt=""></a>
                <a href="#"><img src="images/content/client-logo7.jpg" alt=""></a>
                <a href="#"><img src="images/content/client-logo8.jpg" alt=""></a>
                <a href="#"><img src="images/content/client-logo9.jpg" alt=""></a>
                <a href="#"><img src="images/content/client-logo10.jpg" alt=""></a>
                <a href="#"><img src="images/content/client-logo11.jpg" alt=""></a>
                <a href="#"><img src="images/content/client-logo12.jpg" alt=""></a>
              </div>
            </div>
          </li>
          <li>
            <div class="row-fluid">
              <div class="span12 doCenter">
                <a href="#"><img src="images/content/client-logo1.jpg" alt=""></a>
                <a href="#"><img src="images/content/client-logo2.jpg" alt=""></a>
                <a href="#"><img src="images/content/client-logo3.jpg" alt=""></a>
                <a href="#"><img src="images/content/client-logo4.jpg" alt=""></a>
                <a href="#"><img src="images/content/client-logo5.jpg" alt=""></a>
                <a href="#"><img src="images/content/client-logo6.jpg" alt=""></a>
                <a href="#"><img src="images/content/client-logo7.jpg" alt=""></a>
                <a href="#"><img src="images/content/client-logo8.jpg" alt=""></a>
                <a href="#"><img src="images/content/client-logo9.jpg" alt=""></a>
                <a href="#"><img src="images/content/client-logo10.jpg" alt=""></a>
                <a href="#"><img src="images/content/client-logo11.jpg" alt=""></a>
                <a href="#"><img src="images/content/client-logo12.jpg" alt=""></a>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="spacer20"></div>
  <div class="spacer20"></div>
  <div class="spacer20"></div>
</div>

{% include utils/dark_title.html data=site.data.index.dark_title %}
