<div id="footer">
  <div class="container">
    <div class="row-fluid">
      <div class="span3">
        <h3 class="headFooter">Contact us</h3>
        <div class="contactFooter">
          <p>{{ site.data.footer.address }}</p>
          <div class="spacer-f"></div>
          <p><strong>{{ site.data.footer.phone_number }}</strong></p>
          <p><strong><a href="mailto:{{ site.data.footer.email }}">{{ site.data.footer.email }}</a></strong></p>
        </div>
      </div>
      <div class="span6 rightSpace">
        <h3 class="headFooter">Latest News</h3>
        <ul class="latestNews">
          {% for post in site.posts limit:1 %}
            <li>
              <h5 class="subTitle">
                <a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }} <span class="newsDate">{{ post.date | date: "%b %-d, %Y" }}</span></a>
              </h5>
              <p>{{ post.content | strip_html | truncatewords:30 }}</p>
            </li>
          {% endfor %}
        </ul>
      </div>
      <div class="span3">
        <h3 class="headFooter oth">{{ site.data.footer.about_us_title }}</h3>
        <p class="aboutUs">{{ site.data.footer.about_us_description}}</p>
      </div>
    </div>
  </div>
</div>
