<header class="headerBoxedWrapper">
  <div class="navbar navbar-static-top">
    <div class="navbar-inner">
      <div class="container">
        <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="brand" href="index.html"><img src="{{ site.img_url }}{{ site.logo_path }}" alt=" "></a>
        <div class="nav-collapse">
          <ul class="nav pull-right" id="nav">
            {% for menu in site.data.header.menus %}
              {% if menu.dropdowns %}
                <li class="dropdown active">
                  {% if menu.url %}
                    <a href="{{ site.baseurl }}{{ menu.url }}" class="dropdown-toggle">{{ menu.title }}</a>
                  {% endif %}
                  <ul class="dropdown-menu">
                  {% for dropdown in menu.dropdowns %}
                    <li><a href="{{ site.baseurl }}{{ dropdown.url }}">{{ dropdown.title }}</a></li>
                  {% endfor %}
                  </ul>
                </li>
              {% else %}
                <li>
                  <a href="{{ site.baseurl }}{{ menu.url }}">{{ menu.title }}</a>
                </li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
        <div class="clearfix"></div>
        <!-- <div class="menuIcons"> -->
          <!-- <ul class="smallSocials pull-left">
            <li class="so1">
              <a href="#" data-toggle="tooltip" title="" data-original-title="Twitter"><span class="entypo twitter"><i></i></span></a>
            </li>
            <li class="so2">
              <a href="#" data-toggle="tooltip" title="" data-original-title="LinkedIn"><span class="entypo linkedin"><i></i></span></a>
            </li>
            <li class="so3">
              <a href="#" data-toggle="tooltip" title="" data-original-title="Facebook"><span class="entypo facebook"><i></i></span></a>
            </li>
            <li class="so4">
              <a href="#"  data-toggle="tooltip" title="" data-original-title="Dribbble"><span class="entypo dribbble"><i></i></span></a>
            </li>
            <li class="so5">
              <a href="#"  data-toggle="tooltip" title="" data-original-title="Google+"><span class="entypo gplus"><i></i></span></a>
            </li>
          </ul>
          <a href="#" class="pull-right searchIcon"><span class="entypo search"><i></i></span></a> -->
        <!-- </div> -->
      </div>
    </div>
  </div>
</header>
