<div class="spacer20"></div>
<div class="spacer20"></div>

<div class="flexFull flexslider loading-slider easyflex flexmargin">
  <ul class="slides">
    {% for item in include.data %}
      <li>
        <div class="row-fluid">
          <div class="span6">
            <br>
            <h3>{{ item.title }}</h3>
            <p class="serif">{{ item.description }}</p>
            <br>
            <a href="{{ item.url }}" class="btn btn-primary btn-small">{{ item.button }}</a>
          </div>
          <div class="span6 doCenter">
            <img src="{{ site.img_url }}{{ item.img }}" alt=" ">
          </div>
        </div>
      </li>
    {% endfor %}
  </ul>
</div>

<div class="spacer20"></div>
<div class="spacer20"></div>
